@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-light-blue-200 {
    background-color: #e4f7ff; /* Light blue color code, you can adjust as needed */
  }
  .boja-200 {
    background-color: #c9e6ff;
  }
  .tekst {
    font-family: sans-serif;
  }
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
